asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
cffi==1.14.5
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
hyperlink==18.0.0
idna==3.1
incremental==17.5.0
itemadapter==0.2.0
itemloaders==1.0.4
jmespath==0.10.0
lxml==4.2.1
parsel==1.6.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.18
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==17.5.0
queuelib==1.5.0
Scrapy==2.4.1
service-identity==17.0.0
six==1.15.0
Twisted==17.9.0
Unidecode==1.2.0
w3lib==1.19.0
zope.interface==5.2.0
